<a href="https://colab.research.google.com/github/devz-002/Amrita_002colab/blob/main/Bone_Mineral_Density.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
########################## CODE WITH SKLEARN LIBRARY IMPLEMENTATION OF FLD(Code Inbuilt)
# Classification Type : Fischer Linear Discriminant Analysis (FLD)
# Using only Two factors BMD vs Fractures(1/0)
# DATASET :"Bone Mineral Density(bmd.csv)"
#########################

In [10]:
#########################
# Importing Basic Libraries
#########################
import pandas as pd
import numpy as np
import math

In [11]:
#########################
# Loading dataset
#########################
df = pd.read_csv("/content/drive/MyDrive/ColabNotebooks/bmd.csv")
df.head(5)

      id        age sex  ...      medication  waiting_time     bmd
0    469  57.052768   F  ...  Anticonvulsant            18  0.8793
1   8724  75.741225   F  ...   No medication            56  0.7946
2   6736  70.778900   M  ...   No medication            10  0.9067
3  24180  78.247175   F  ...   No medication            14  0.7112
4  17072  54.191877   M  ...   No medication            20  0.7909

[5 rows x 9 columns]

In [12]:
################
# Cleaning Data
###############

from sklearn.preprocessing import LabelEncoder

# creating instance of labelencoder
labelencoder = LabelEncoder()
# Assigning numerical values and storing in another column
df['fracture']=labelencoder.fit_transform(df['fracture'])
df['medication']=labelencoder.fit_transform(df['medication'])
df['sex']=labelencoder.fit_transform(df['sex'])
df=df.drop(['id'],axis = 1)
df

           age  sex  fracture  ...  medication  waiting_time     bmd
0    57.052768    0         1  ...           0            18  0.8793
1    75.741225    0         1  ...           2            56  0.7946
2    70.778900    1         1  ...           2            10  0.9067
3    78.247175    0         1  ...           2            14  0.7112
4    54.191877    1         1  ...           2            20  0.7909
..         ...  ...       ...  ...         ...           ...     ...
164  77.982543    1         0  ...           2            49  0.7941
165  50.285303    0         0  ...           2             6  0.7971
166  46.359721    1         0  ...           2            10  0.8037
167  54.788368    1         0  ...           2            14  0.8072
168  69.994822    0         0  ...           2            25  0.8664

[169 rows x 8 columns]

In [13]:
##########################
# Mean & Sigma Calculations
##########################
frac=df[df['fracture']==0].loc[:,['bmd']].values
frac_mean=round(np.mean(frac),6)
no_frac=df[df['fracture']==1].loc[:,['bmd']].values
no_frac_mean=round(np.mean(no_frac),6)
count=0
for i in range(len(frac)):
  count+=(frac[i]-frac_mean)**2
for i in range(len(no_frac)):
   count+=(no_frac[i]-no_frac_mean)**2
sigma=math.sqrt((count)/(len(df)-2))
sigma=round(sigma,6)

In [14]:
print(frac_mean,no_frac_mean,sigma)

0.623308 0.850245 0.130539

In [15]:
print(frac)

[[0.45860001]
 [0.48179999]
 [0.52789998]
 [0.52850002]
 [0.52869999]
 [0.53869998]
 [0.54189998]
 [0.55150002]
 [0.55790001]
 [0.56760001]
 [0.56349999]
 [0.57209998]
 [0.52939999]
 [0.55470002]
 [0.56029999]
 [0.5693    ]
 [0.60009998]
 [0.6103    ]
 [0.62040001]
 [0.62639999]
 [0.40759999]
 [0.44069999]
 [0.48519999]
 [0.55549997]
 [0.56150001]
 [0.61019999]
 [0.62970001]
 [0.63849998]
 [0.63880002]
 [0.64090002]
 [0.64319998]
 [0.64480001]
 [0.64950001]
 [0.67079997]
 [0.68800002]
 [0.6882    ]
 [0.68839997]
 [0.68989998]
 [0.6904    ]
 [0.6904    ]
 [0.7076    ]
 [0.70850003]
 [0.72460002]
 [0.73989999]
 [0.77450001]
 [0.79409999]
 [0.79710001]
 [0.80369997]
 [0.80720001]
 [0.8664    ]]

In [18]:
#########################
# Calculating Probablility of Fractures
# And Assigning values to a dataset
#########################
prob_frac=len(frac)/len(df)
prob_no_frac=len(no_frac)/len(df)
data={'Fracture':[prob_frac],
      'No fracture':[prob_no_frac]}
# Create DataFrame
df_prob=pd.DataFrame(data)

df_prob

   Fracture  No fracture
0  0.295858     0.704142

In [19]:
#for fracture
0.54*frac_mean/sigma**2-frac_mean**2/(2*sigma**2)+math.log(df_prob["Fracture"])
#for no fracture
0.54*no_frac_mean/sigma**2-no_frac_mean**2/(2*sigma**2)+math.log(df_prob["Fracture"])

4.514022898766771

In [28]:
#########################
# Function to predict fractures/no fractures
# based on BMD values input by the user
#########################
def test_func(bmd):
  Fracture = (bmd*frac_mean/sigma**2-frac_mean**2/(2*sigma**2) + math.log(df_prob["Fracture"]))
  No_Fracture = (bmd*no_frac_mean/sigma**2-no_frac_mean**2/(2*sigma**2) + math.log(df_prob["No fracture"]))
  if Fracture > No_Fracture:
    print("FRACTURE PROBABLY")
  else:
    print("NO FRACTURE PROBABLY")

In [29]:
#########################
# Input Function
#########################
Num= float(input("Enter bmd: "))
test_func(Num)

Enter bmd: 0.7981
NO FRACTURE PROBABLY